.modal {
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}
.delete_modal_content {
    width: 420px;
    height: 112px;
    padding: 16px;
    background: #ffffff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px
    
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}
.modal_content.active {
    transform: scale(1);
}
.delete_modal_btns_container{
    width:40%;
    display: flex;
    justify-content: space-around;
}
.delete_modal_btn{
 background-color: #fce388 ;
 height: 30px;
 width:70px;   
 cursor: pointer;
 border-radius: 5px;
 box-shadow: none;
 outline: none;
}
.delete_modal_btn:hover{
    background-color: #fecc19 ;
   }