.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}
.form__input {
      padding: 6px;
      border-radius: 10px;
      border: 1px solid lightgrey;
    }
    .form__eye-wrapper {
      position: relative;
    }
    .form__eye {
      position: absolute;
      right: 140px;
      top: 0px;
      height: 100%;
      display: flex;
      align-items: center;
      z-index: 10;
      cursor: pointer;
  }
  .form__title{
    font-size: 32px;
  }
  .form_close_butn_wrapper{
   text-align: right; 
  }
  .form_close_btn{
  border: none;
  background-color: transparent;
  cursor: pointer;
  }
  .form_close_btn:hover {
color: gray
  }