.home_container {

background-color: white;
padding-top: 5px;
opacity: 0.9;
}
.home_image_container{  
  
    padding-top:10px;
}

.home_greeting_image_wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-left: 10px;
}

.home_image {
    max-height: 55vh;
    
}
.home_greeting {
text-align: center;
color: darkred;
font-family: 'Reggae One', cursive;   
font-size: 18px; 
}
.home_description_wrapper{   
   text-align:justify;
   margin-top: 0px; 
}
.home_description {   
font-size: 16px; 
text-indent: 38px;
}

.home_motto {
font-size: 20px;
font-weight: 600;    
text-align: center;

}

.home_categories_list {

font-size: 15px; 
line-height: 32px; 
}
.home_categories_list_title {
    font-size: 24px;   
}

.home_catalogue_link_button{
    background-color:#e7ac2d;
    border: solid 1px black;
    height: 65px;
    width: 155px;
    padding: 5px;
    border-radius: 10px;
    transition: ease-in 0.1s;
    font-size: 18px;
    cursor:pointer;
    border-radius: 5%;
    white-space: pre-line;
    
    }
    .home_catalogue_link_button:hover{
      background-color:rgba(248, 174, 14, 0.5);
      box-shadow: 1px 1px 1px 1px  rgb(69, 69, 69); 
      opacity: 0.8;
    
    }

    .home_button_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px

    }
    .home_you_will_find{
    text-align: left;
    padding: 10px;    
    }


