.accordion {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #ECEFF1;
}

.accordionButton {
	background-color: transparent;
	cursor: pointer;
	padding: 24px 40px;
	display: flex;
	align-items: center;
	border: none;
	outline: none;
	position: relative;
	font-size: 12px;
}


.accordionButton::before {
	
	
	height: 15px;
	font-size: 16px;
	position: absolute;
	top: calc(50% - 1px);
	left: 0;
	display: block;
	transition: all 0.1s;
  }

  /* Vertical line */
  .accordionButton::after {
	
	height: 15px;
	
	font-size: 16px;
	position: absolute;
	top: calc(50% - 7px);
	left: 6px;
	display: flex;
	transition: all 0.1s;
	flex-direction: row-reverse;
  }

  .active .accordionButton::after {
	transform: rotate(90deg) translateX(-1px);
	flex-direction: column-reverse;
  }

  .active .accordionButton::before {
	transform: rotate(180deg);
  }

.title {
	margin: 0;
	font-weight: 560;
	font-size: 20px;
	line-height: 20px;
}
.title:hover {
	margin: 0;
	font-weight: 560;
	font-size: 20px;
	line-height: 20px;
	color: chocolate;
}


.content {
	padding-left: 40px;
	max-height: 0;
	
	background-color: white;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.active .content {
	max-height: 100vh;
	
}

.text {
	padding-bottom: 24px;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
}
